@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">DiabT</h1>
    <p> DiabT ofrece a los usuarios la posibilidad de llevar un registro detallado de sus niveles de glucosa, hábitos alimenticios, actividad física y medicamentos, todo desde la comodidad de su dispositivo móvil o computadora. La plataforma utiliza algoritmos inteligentes para analizar la información recopilada y generar recomendaciones personalizadas, ayudando a los pacientes a tomar decisiones informadas sobre su estilo de vida y tratamiento. </p>
</div>
